<div class="quizz__container">
  <div class="quizz_logo">
    <img src="assets/imgs/logo.png" alt="" />
    <h3>{{ title }}</h3>
  </div>
  <div *ngIf="!finished" class="quizz_questions">
    <h3>{{ questionSelected.question }}</h3>
  </div>
  <div *ngIf="!finished" class="quizz_options">
    <button
      *ngFor="let option of questionSelected.options; let i = index"
      (click)="playerChoose(option.id)"
      class="btn-option"
    >
      {{ option.text }}
    </button>
  </div>
  <div *ngIf="finished" class="quizz_results {{ gifClassName }}">
    <h1>O Seu resultado é:</h1>
    <p>{{ answerSelected[0].title }}</p>
    <img src="{{ answerSelected[0].gif }}" alt="gif" />
    <p>{{ answerSelected[0].description }}</p>
    <button
      type="button"
      *ngIf="finished"
      class="btn-retake"
      (click)="retakeTest()"
    >
      Refazer o teste
    </button>
  </div>
</div>
